# Enforce strict version matching for Node and npm engines
engine-strict=true

# Use github npm registry
registry=https://npm.pkg.github.com/@focela

# Always authenticate when accessing the registry
always-auth=true

# Cache folder location
cache=~/.npm/cache

# Max cache age (7 days)
cache-max=7d

# Enable parallel processing
prefer-offline=true

# Reduce disk space usage
legacy-peer-deps=false

# Save exact versions of dependencies
save-exact=true
